body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
}

table, tr, td, th {
    border: 2px solid red;
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
}

h2 {
    text-align: center;
}

.form-container {
    background-color: palegoldenrod;
    padding: 20px;
    border: 2px solid black;
    margin-top: 20px;
    width: 100%;
    max-width: 500px;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.form-group label {
    margin-bottom: 4px;
    font-weight: bold;
}

input {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 10px;
    margin-top: 10px;
    background-color: #919691;
    color: white;
    border: none;
    cursor: pointer;
    font-weight:bolder;
    font-size: larger;
}

button:hover {
    background-color: #434543;
}

#error {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

@media (min-width: 600px) {
    body {
        flex-direction: row;
        justify-content: center;
        gap: 50px;
    }

    table {
        width: auto;
    }
}
